@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');
@import url('https://fonts.googleapis.com/css?family=Alike|Prociono|');


.navbar-nav > li{
  margin-left:20px;
  margin-right:20px;
  display: inline-block;
}
h1{
font-family: 'Alike';
}

.navbar-nav > .active {
  color:#1078B4!important;  **// THIS DOES NOT WORK**
  background-color: chartreuse; **//THIS WORKS**
}
.nav-item > a:hover {
  color:#1078B4!important;
}

.im{
  position: absolute;
  width: 15%;
  /* height: 20%; */
  cursor: pointer;

}
.fon{

  font-family:'Source Sans Pro', sans-serif;
  font-weight: 700;
}
h2{
  font-family: 'Alike';
  font-size: 30px;
  color: #1078B4;
}
.img-thumbnail{
  max-width: 60%;
  margin-top: 30%;
  border:none;
  outline:none;
}
#r{
padding-top:16%;
}
.fon1{

  font-family:'Source Sans Pro', sans-serif;

}