.navbar-nav > li{
    margin-left:20px;
    margin-right:20px;
    display: inline-block;
  }


  .navbar-nav > .active {
    color:#1078B4!important;  **// THIS DOES NOT WORK**
    background-color: chartreuse; **//THIS WORKS**
  }
  .nav-item > a:hover {
    color: #1078B4!important;
  }
  .page-footer {
   
    margin-left: auto;
    margin-right: auto;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:#2B4664;
    color: white;
    padding-top: 4%;
    
 }
 .social {
  padding: 10px;
  max-width:60px;
}
  
.responsive {
  width: 100%;
  height: auto;
}

.no-padding {
  padding-left: 0;
  padding-right: 0;
}

.container-fluid .content {
  position: absolute;
  bottom: 0;
  background:  rgba(0, 0, 0, 0.5);/* Fallback color */
  background:  #2B4664;/* Black background with 0.5 opacity */
  color: #f1f1f1;
  width: 100%;
  padding: 20px;
  opacity: 0.7;
}
.circle{
  border-radius: 50%;
  width: 100%;
  padding-bottom: 25%;
  background:white;
  height: 100%;
  position: relative;
  box-shadow:  0 0 10px  rgba(0,0,0,0.6);
}
.circle1{
  border-radius: 50%;
  width: 100%;
  padding-bottom: 30%;
  background:white;
  
  box-shadow:  0 0 10px  rgba(0,0,0,0.6);
}
.box{
  width:10%;
  margin: auto;
  /* border: 1px solid #73AD21; */
  box-shadow:  0 0 10px  rgba(0,0,0,0.6);
}
/* .circle {
  border-radius: 50%;
  width: 100%;
  padding-bottom: 100%;
  background: white;
  margin-left: 24%;
  
  
  box-shadow:  0 0 10px  rgba(0,0,0,0.6);

}
.circle2 {
  border-radius: 50%;
  width: 90%;
  padding-bottom: 90%;
  background: white;
  margin-left: 24%;
  
  box-shadow:  0 0 10px  rgba(0,0,0,0.6);

}
.circle3 {
  border-radius: 50%;
  width: 90%;
  padding-bottom: 90%;
  background: white;
  margin-right: 24%;
  margin-bottom: 0px !important;
  
  box-shadow:  0 0 10px  rgba(0,0,0,0.6);

}

.circle4 {
  border-radius: 50%;
  width: 80%;
  padding-bottom: 80%;
  background: white;
  margin-left: 24%;
  margin-bottom: 0px !important;
  
  box-shadow:  0 0 10px  rgba(0,0,0,0.6);

}
.circle5 {
  border-radius: 50%;
  width: 90%;
  padding-bottom: 90%;
  background: white;
  margin-left: 24%;
  
  box-shadow:  0 0 10px  rgba(0,0,0,0.6);

} */

.flex-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  padding: 10px;
}

/* to center flex-items */
.flex-item {
   margin: auto;
}

.rect{  
  margin:0 0 20px;
  padding: 20px;
  /* border:2px solid #333; */
  width :100%;

  text-align:center;
  /* box-shadow:  0 0 10px  rgba(0,0,0,0.6); */

}
.header{
   margin:0 auto;
   padding: 5px 10px;
   width:90%;
   /* border:2px solid #333; */
   box-shadow:  0 0 10px  rgba(0,0,0,0.6);

}

li {
  /* width: 33.3%; */
  float: left;
  list-style-type: none;
}

#small-img2 {
  padding-top: 10%;
  border: 0 none;
  display: inline-block;
  height: auto;
  max-width: 60%;
  vertical-align: middle;
 
  
}
.check{
/* margin:0 0 20px; */
  padding: 20px;
  /* border:2px solid #333; */
  width :100%;
  text-align:center;
}
h3{
  text-align: left;
  margin-left: 19%;

}

.about{
  padding: 20%;
  margin-left: -20%;
}




.skyblue{
    background:#D8EDF9;
    padding-bottom: -5%;
}
.new{
    text-align:justify;
    padding-top: 2%;
    width: 100%;
}
h5{
    color: blue;
}

.bu {
    background-color: blue; /* blue */
   border-radius: 50px;
   color: white;
   padding: 15px 32px;
   text-align: center;
   text-decoration: none;
  position: relative;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
        
      
  }
  
  .move{
    padding-top:45%;
    position: relative;
     padding-left:12%; 
  }

  .squre{
    background-color: white;
    width: 300px;
    height:300px;
    border: 10px solid #1078B4;
    padding: 25px;
    margin: 25px;
    border-radius: 25px;
  }